SPRING_DATASOURCE_URL=your_database_url
DB_USERNAME=your_username
DB_PASSWORD=your_password

JWT_SECRET_KEY=your_secret_key
JWT_EXPIRATION=your_expiration

FRONTEND_URL=your_forntend_server_url
BREVO_API_KEY=your_generated_brevo_api_key

SENDER_EMAIL=your_sender_mail

OSM_FILE_PATH=your_local_graphopper_path(ONLY without docker run)